@{layout('')}

<!DOCTYPE html>
<html>
<head>
	<title>@(Sedmiboj)</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	@{ if mobile }
	<meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
	@{ else }
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
	@{ fi}
	<meta name="robots" content="all,follow" />
	<link rel="stylesheet" href="//cdn.componentator.com/spa.min@19pro.css" />
	<script src="//cdn.componentator.com/spa.min@19.js"></script>
	<script src="https://componentator.com/download.js?id=exec,loading,miniform,validate,importer"></script>
	@{import('favicon.ico', 'default.js + user.js + helpers.js + pubsub.js', 'default.css + components.css + utils.css')}
	<link rel="stylesheet" media="print" href="/css/print.css" />
</head>

<body data---="exec">
	<div data---="LAZY menu"></div>
	<div data---="LAZY approve"></div>
	<div data---="LAZY message"></div>
	<div data---="LAZY notify__null__position:top right"></div>
	<div data---="loading" class="hidden"></div>
	<div data---="directory__null__placeholder:Search..."></div>
    <div data---="floatingbox__null__zindex:10"></div>
    <div data---="confirm"></div>
    <div data---="datepicker__null__today:Dnes;firstday:1;clear:Vymazat;days:Ne,Po,Ůt,St,Čt,Pá,So;months:Leden,Únor,Březen,Duben,Květen,Červen,Červenec,Srpen,Září,Říjen,Listopad,Prosinec"></div>
	<div class="h-full w-full flex flex-column">
		<div class="flex relative flex-grow main-body">
			<div class="sidebar w-14 flex flex-column space-between h-full" data---="selected__common.page__selector:.pointer">
				<div>
					<div class="R w-14 h-14 flex justify-center align-center hover-bg-accent pointer relative" title="Dvojice" onclick="REDIRECT('/');" data-if="home">
						<i class="fa fa-home"></i>
					</div>
					<div data-bind="common.eventid__show" class="hidden">
						<div class="R w-14 h-14 flex justify-center align-center hover-bg-accent pointer relative" title="Dvojice" onclick="REDIRECT('/teams');" data-if="teams">
							<i class="fa fa-users"></i>
							<div class="absolute p-2 radius z-10 l-15 bg-primary-inverted text-primary-inverted parent-hover_show">Dvojice</div>
						</div>
						<div class="R w-14 h-14 flex justify-center align-center hover-bg-accent pointer relative" title="Vítězové" onclick="REDIRECT('/rankings');" data-if="rankings">
							<i class="fa fa-trophy"></i>
							<div class="absolute p-2 radius z-10 l-15 bg-primary-inverted text-primary-inverted parent-hover_show">Pořadí</div>
						</div>
						<!--<div class="R w-14 h-14 flex justify-center align-center hover-bg-accent pointer relative" title="Probíhající zápasy" onclick="REDIRECT('/matches');" data-if="matches">
							<i class="fa fa-table"></i>
							<div class="absolute p-2 radius z-10 l-15 bg-primary-inverted text-primary-inverted parent-hover_show">Probíhající zápasy</div>
						</div>-->
						<div data-bind="common.mobile__hide" class="R w-14 h-14 flex justify-center align-center hover-bg-accent pointer relative hidden" title="Probíhající zápasy" onclick="REDIRECT('/alltrees');" data-if="alltrees">
							<i class="fa fa-table"></i>
							<div class="absolute p-2 radius z-10 l-15 bg-primary-inverted text-primary-inverted parent-hover_show">Přehled</div>
						</div>
					</div>
				</div>
				<div data-bind="common.eventid__show" class="hidden">
					<div class="R w-14 h-14 flex justify-center align-center hover-bg-accent pointer relative" title="Tenis" onclick="REDIRECT('/tennis');" data-if="tennis">
						<i class="text-tennis fa fa-racquet"></i>
						<div class="absolute p-2 radius z-10 l-15 bg-primary-inverted text-primary-inverted parent-hover_show">Tenis</div>
					</div>
					<div class="R w-14 h-14 flex justify-center align-center hover-bg-accent pointer relative" title="Pingpong" onclick="REDIRECT('/pingpong');" data-if="pingpong">
						<i class="text-pingpong fa fa-table-tennis"></i>
						<div class="absolute p-2 radius z-10 l-15 bg-primary-inverted text-primary-inverted parent-hover_show">Pingpong</div>
					</div>
					<div class="R w-14 h-14 flex justify-center align-center hover-bg-accent pointer relative" title="Fotbal" onclick="REDIRECT('/football');" data-if="football">
						<i class="text-football fa fa-futbol"></i>
						<div class="absolute p-2 radius z-10 l-15 bg-primary-inverted text-primary-inverted parent-hover_show">Fotbal</div>
					</div>
					<div class="R w-14 h-14 flex justify-center align-center hover-bg-accent pointer relative" title="Volejbal" onclick="REDIRECT('/voleyball');" data-if="voleyball">
						<i class="text-voleyball far fa-volleyball-ball"></i>
						<div class="absolute p-2 radius z-10 l-15 bg-primary-inverted text-primary-inverted parent-hover_show">Volejbal</div>
					</div>
					<div class="R w-14 h-14 flex justify-center align-center hover-bg-accent pointer relative" title="Basketbal" onclick="REDIRECT('/basketball');" data-if="basketball">
						<i class="text-basketball fa fa-basketball-ball"></i>
						<div class="absolute p-2 radius z-10 l-15 bg-primary-inverted text-primary-inverted parent-hover_show">Baskebal</div>
					</div>
					<div class="R w-14 h-14 flex justify-center align-center hover-bg-accent pointer relative" title="Házená" onclick="REDIRECT('/handball');" data-if="handball">
						<i class="text-handball fa fa-volleyball-ball"></i>
						<div class="absolute p-2 radius z-10 l-15 bg-primary-inverted text-primary-inverted parent-hover_show">Házená</div>
					</div>
					<div class="R w-14 h-14 flex justify-center align-center hover-bg-accent pointer relative" title="Nohejbal" onclick="REDIRECT('/netball');" data-if="netball">
						<i class="text-netball far fa-futbol"></i>
						<div class="absolute p-2 radius z-10 l-15 bg-primary-inverted text-primary-inverted parent-hover_show">Nohejbal</div>
					</div>
				</div>
				<div>
					<div class="w-14 h-14 flex justify-center align-center hover-bg-accent pointer relative" title="Přepnout téma" onclick="TOGGLE('common.dark')">
						<i class="fas fa-eclipse flex align-center pointer justify-center h-8 w-8 rounded bg-primary-inverted text-primary-inverted"></i>
						<div class="absolute p-2 radius z-10 l-15 bg-primary-inverted text-primary-inverted parent-hover_show">Přepnout téma</div>
					</div>
					<div class="w-14 h-14 flex justify-center align-center hover-bg-accent pointer relative" title="Celá obrazovka" onclick="toggleFullScreen();">
						<i class="fas fa-expand-arrows"></i>
						<div class="absolute p-2 radius z-10 l-15 bg-primary-inverted text-primary-inverted parent-hover_show">Celá obrazovka</div>
					</div>
				@{ if user && user.admin }
					<div class="hidden R w-14 h-14 flex justify-center align-center hover-bg-accent pointer relative" title="Nastavení" onclick="REDIRECT('/settings');" data-if="settings">
						<i class="fas fa-gear"></i>
						<div class="absolute p-2 radius z-10 l-15 bg-primary-inverted text-primary-inverted parent-hover_show">Nastavení</div>
					</div>
					<div class="w-14 h-14 flex justify-center align-center hover-bg-accent pointer relative" title="Odhlásit" onclick="EXEC('common/logout');">
						<i class="fas fa-user"></i>
						<div class="absolute p-2 radius z-10 l-15 bg-primary-inverted text-primary-inverted parent-hover_show">Odhlásit</div>
					</div>
				@{ else }
					<div class="w-14 h-14 flex justify-center align-center hover-bg-accent pointer relative" title="Přihlásit" onclick="EXEC('common/login');">
						<i class="fas fa-sign-in"></i>
						<div class="absolute p-2 radius z-10 l-15 bg-primary-inverted text-primary-inverted parent-hover_show">Přihlásit</div>
					</div>
				@{ fi }
				</div>
			</div>
			<main class="bg-grey-light flex-grow">
				<div data---="part__common.page__if:home;url:/pages/home.html;reload:home/reload" class="main-page"></div>
				<div data---="part__common.page__if:teams;url:/pages/teams.html;reload:teams/reload" class="main-page"></div>
				<div data---="part__common.page__if:rankings;url:/pages/rankings.html;reload:rankings/reload" class="main-page"></div>
				<div data---="part__common.page__if:matches;url:/pages/matches.html;reload:matches/reload" class="main-page overflow-hidden"></div>
				<div data---="part__common.page__if:alltrees;url:/pages/alltrees.html;reload:alltrees/reload" class="main-page overflow-auto"></div>

				<div data---="part__common.page__if:tennis;url:/pages/tree.html;reload:tennis/reload" class="main-page"></div>
				<div data---="part__common.page__if:pingpong;url:/pages/tree.html;reload:pingpong/reload" class="main-page"></div>
				<div data---="part__common.page__if:football;url:/pages/tree.html;reload:football/reload" class="main-page"></div>
				<div data---="part__common.page__if:voleyball;url:/pages/tree.html;reload:voleyball/reload" class="main-page"></div>
				<div data---="part__common.page__if:basketball;url:/pages/tree.html;reload:basketball/reload" class="main-page"></div>
				<div data---="part__common.page__if:handball;url:/pages/tree.html;reload:handball/reload" class="main-page"></div>
				<div data---="part__common.page__if:netball;url:/pages/tree.html;reload:netball/reload" class="main-page"></div>

				@{ if user && user.admin }
				<div data---="part__common.page__if:settings;url:/pages/settings.html;reload:settings/reload" class="main-page"></div>
				@{ fi }
			</main>
		</div>
	</div>

	<div data---="importer__common.form__if:matchform;url:/forms/match.html"></div>
	<div data---="importer__common.form__if:teamform;url:/forms/team.html"></div>

	<script>

		var user = PARSE('@{json(user)}');

		var settings = {};
		var common = {};
		common.eventid = localStorage.getItem('eventid');
		if (!common.eventid && location.pathname !== '/') // nejdřív je potřeba vybrat eventid
			location.pathname = '/';
		//window[eventid + 'saved'] = [];
		common.page = 'home';
		common.autostart_next = true;
		//setTimeout(() => SET('common.page', 'matches'), 1000);
		common.year = NAV.query.year || new Date().getFullYear();
		var dt = new Date();
		dt.setFullYear(common.year);
		common.date = dt.format('dd.MM.yyyy');
		common.teams = [];
		common.events = [];

		common.meta = {}; // JSON.parse('@{json(model.data)}');

		common.matches = {};
		common.matches.tennis = [];
		common.matches.pingpong = [];
		common.matches.football = [];
		common.matches.voleyball = [];
		common.matches.basketball = [];
		common.matches.handball = [];
		common.matches.netball = [];

		common.categories = {};
		common.categories.tennis = 'Tenis';
		common.categories.pingpong = 'Pingpong';
		common.categories.football = 'Fotbal';
		common.categories.voleyball = 'Volejbal';
		common.categories.basketball = 'Basketbal';
		common.categories.handball = 'Házená';
		common.categories.netball = 'Nohejbal';

		common.icons = { tennis: 'racquet', pingpong: 'table-tennis', football: 'futbol', voleyball: 'volleyball-ball', basketball: 'basketball-ball', handball: 'volleyball-ball', netball: 'futbol' };
		common.colors = { tennis: 'darkred', pingpong: '#323232', football: 'forestgreen', voleyball: 'slateblue', basketball: '#a3a300', handball: 'burlywood', netball: 'chocolate' };

		NAV.clientside('.R');
		CACHEPATH('settings', '1 year');
		CACHEPATH('saved_matches', '1 year');

		ON('request', function(req) {
			if (req.url?.startsWith('/api/')) {
				if (req.url.includes('?'))
					req.url += '&eventid=' + common.eventid;
				else
					req.url += '?eventid=' + common.eventid;
			}
		});

		AJAX('GET /api/events/' + common.eventid, function(value, err, res){
			SET('common.meta', value || {});
			UPD('common.teams'); // to force show/hide the button "LOSOVAT"
		});

		AJAX('GET /api/teams/', 'common.teams');

		ROUTE(`/`, function(){
			SET('common.page', 'home');
		});

		ROUTE(`/teams`, function(){
			SET('common.page', 'teams');
		});

		ROUTE(`/rankings`, function(){
			SET('common.page', 'rankings');
		});

		ROUTE(`/matches`, function(){
			SET('common.page', 'matches');
		});

		ROUTE(`/alltrees`, function(){
			SET('common.page', 'alltrees');
		});

		ROUTE(`/settings`, function(){
			SET('common.page', 'settings');
		});

		for (let cat in common.categories) {
			ROUTE(`/${cat}`, function(){
				SET('common.page', cat);
			});
		}

		WATCH('common.dark', (path, val) => {
			$('body').tclass('ui-dark', val);
		});

		CACHEPATH('common.dark', '1 year');

		ON('ready', () => {
			if ($('body').hclass('jc-mobile'))
				SET('common.mobile', true);
		});

		PLUGIN('common', function(exports) {

			exports.reload = function(cb) {
				Object.keys(common.matches).forEach(c => {
					AJAX('GET /api/matches?category=' + c, 'common.matches.' + c);
					typeof(cb) === 'function' && cb();
				});
			};

			exports.reload();

			exports.loadmeta = function() {
				AJAX('GET /api/meta', { year: common.year }, function(value, err, res){
					SET('common.meta', value.data);
				});
			};
			
			//exports.loadmeta();

			exports.savemeta = function() {
				AJAX('POST /api/meta', { year: common.year, data: common.meta }, function(value, err, res){

				});
			};

			exports.login = function() {
				location.href = '/login';
			};

			exports.logout = function() {
				location.href = '/logout';
			};
		});

		window.PUBSUB = new PubSub();

		PUBSUB.on('connected', () => {
			console.log('PUBSUB connected');
			PUBSUB.subscribe('api/refresh');
		});

		PUBSUB.on('disconnected', msg => {
			console.log('PUBSUB disconnected');
		});

		PUBSUB.on('error', code => {
			console.log('PUBSUB error code:', code);
		});

		PUBSUB.on('message', (topic, msg) => {
			console.log('PUBSUB', topic, msg);
			switch (topic) {
				case 'api/refresh':
					EXEC(msg.path + '/reload');
					EXEC('rankings/reload');
			}
		});

	</script>
</body>
</html>