@{layout('')}
@{title('Login')}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />
	<meta name="robots" content="all,follow" />
	<link rel="stylesheet" href="https://cdn.componentator.com/spa.min@19pro.css" />
	<script src="https://cdn.componentator.com/spa.min@19beta.js"></script>
	<script src="https://componentator.com/download.js?id=exec,pin,enter,input"></script>

	@{import('meta', 'head', 'default.css + components.css + utils.css', 'default.js + user.js', 'favicon.ico')}
	<style>
		.form > div { width: 400px; }
	</style>
</head>

<body data---="exec" class="login" style="background-color: #ff9a36;">

	<div data---="LAZY loading__null__style:1"></div>
	<div data---="LAZY message__null__style:2"></div>
	<div data---="LAZY notify__null__position:bottom right"></div>
	<div data---="LAZY imageuploader"></div>

	<div data-scope="login" class="flex flex-column justify-center align-center h-full form">
		<div class="p-8">
			<img src="/img/logo.jpeg" class="logo" style="height: 336px"/>
		</div>
		<div class="border p-4 shadow-gray radius" style="background-color: white;">
			<div data---="enter__?">
				<div class="m" data---="input__?.email__required:1;autofill:username">Email</div>
				<div class="m" data---="input__?.password__required:1;autofill:password;type:password;maxlength:30">Heslo</div>
				<div class="m">
					<button class="btn btn-primary btn-block btn-large b exec" data-exec="?/signinsubmit" name="submit">Přihlásit</button>
					<div class="alert alert-warning mt10" data-bind="?.message__show__text" onclick="this.classList.add('hidden')"></div>
				</div>
			</div>
		</div>
	</div>

	<script>
		var common = {};

		WATCH('common.dark', (path, val) => {
			$('body').tclass('ui-dark', val);
		});

		CACHEPATH('common.dark', '1 year');

		PLUGIN('login', function(exports) {

			exports.signinsubmit = function() {
				SETTER('loading/show');
				var model = GET('?');
				AJAX('POST /login', model, (value, err, res) => {
					SETTER('loading/hide', 500);
					if (!err && res.status === 200 && value?.ok)
						location.href = '/';
					else {
						exports.scope();
						SET('?.message', 'Neexistující uživatel nebo špatné heslo.');
					}
				});
			};
		});
	</script>

</body>
</html>