/*auto*/

:root {
	--themergb: 245,145,33;
	--color: #f59121;
	--bg-theme-rgb: 245,145,33;
	--bg-primary: #fff;
	--bg-primary-inverted: #1c1c1c;
	--bg-primary-rgb:255,255,255;
	--bg-accent: #e4e4e4;
	--bg-accent-rgb:228,228,228;
	--bg-accent-light: #afafaf;
	--bg-accent-light-rgb:175,175,175;
	--bg-primary-border: #9f9f9f;
	--bg-primary-border-light: #d2d2d2;
	--radius: 10px;
	--font-color: #333;
	--font-color-inverted: #fff;
	--font-color-accent: #666;
	--bg-btn-primary: var(--color);
}

.ui-dark {
	--themergb: 245,145,33;
	--color: #f59121;
	--bg-theme-rgb: 245,145,33;
	--bg-primary: #1c1c1c;
	--bg-primary-inverted: #fff;
	--bg-primary-rgb:28,28,28;
	--bg-accent: #3e3e3e;
	--bg-accent-rgb:62,62,62;
	--bg-accent-light: #676767;
	--bg-accent-light-rgb:175,175,175;
	--bg-primary-border: #3b3b3b;
	--bg-primary-border-light: #2b2b2b;
	--font-color: #fff;
	--font-color-inverted: #333;
	--font-color-accent: #aaa;
}

html,body { background-color: var(--bg-primary); overflow: hidden; margin: 0; padding: 0; height: 100%; width: 100%; }

.main-body {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
}
.main-page {
	position: absolute;
	top: 0;
	left: 56px;
	bottom: 0;
	right: 0;
	overflow-y: scroll;
}

.selected { background-color: var(--color); color: white; }

.round-2-top-spacer { height: 30px; }
.round-2-middle-spacer { height: 59px; }
.round-3-top-spacer { height: 90px; }
.round-3-middle-spacer { height: 176px; }
.round-4-top-spacer { height: 210px; }
.round-4-middle-spacer { height: 410px; }
.round-5-top-spacer { height: 210px; }

.bg-tennis { background-color: #c90000; }
.bg-pingpong { background-color: #999999; }
.bg-football { background-color: forestgreen; }
.bg-voleyball { background-color: slateblue; }
.bg-basketball { background-color: #a3a300; }
.bg-handball { background-color: #e552e6; }
.bg-netball { background-color: chocolate; }

.text-tennis { color: #c90000; }
.text-pingpong { color: #999999; }
.text-football { color: forestgreen; }
.text-voleyball { color: slateblue; }
.text-basketball { color: #a3a300; }
.text-handball { color: #e552e6; }
.text-netball { color: chocolate; }

.selected > .text-tennis { color: white; }
.selected > .text-pingpong { color: white; }
.selected > .text-football { color: white; }
.selected > .text-voleyball { color: white; }
.selected > .text-basketball { color: white; }
.selected > .text-handball { color: white; }
.selected > .text-netball { color: white; }

.active-outline { outline: 4px solid #6e400d; animation: blink 3s infinite; color: white; }
/*.active-outline { outline: 4px solid var(--color); animation: blink 3s infinite; }*/
.ui-dark .active-outline { outline-color: var(--color); }

@keyframes blink { 50% { outline-color: transparent; }  }

.playing {
	width: 16px;
    height: 16px;
	margin-right: 4px;
    border-radius: 4px;
    background-color: white;
    align-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
	color: var(--color);
}

.ui-dark .ui-loading-text { color: white; }

.grid-row:nth-child(odd) { background-color: rgb(var(--bg-accent-rgb)); }