.sidebar { display: none; width: 0; }

button, i.fa-long-arrow-alt-down { display: none !important; }

.grid-winners {
    grid-template-columns: 60px minmax(100px,1fr) repeat(7,70px) 40px 120px !important;
}

.main-body > main { left: 0; }

.h-8 { height: 21px !important; }
.font-m { font-size: 11px !important; }

.ui-dark .bg-grey-light { background-color: white !important; }
.bg-primary { background-color: white !important; }
.bg-accent { background-color: white !important; }
.bg-primary-inverted { background-color: white !important; }
.bg-grey-light { background-color: white !important; }
.bg-dark { background-color: white !important; }
.bg-active { background-color: white !important; }
.bg-theme { background-color: white !important; }



.bg-tennis { color: black !important; background-color: white !important; }
.bg-pingpong { color: black !important; background-color: white !important; }
.bg-football { color: black !important; background-color: white !important; }
.bg-voleyball { color: black !important; background-color: white !important; }
.bg-basketball { color: black !important; background-color: white !important; }
.bg-handball { color: black !important; background-color: white !important; }
.bg-netball { color: black !important; background-color: white !important; }

/*body { scale: 0.7 }*/