<style>
    .width_7 { width: calc(100% / 7); }
</style>

<div class="flex flex-column h-full overflow-hidden">
    <div class="flex space-between align-center px-4 my-2">
        <h2>Probíhající zápasy</h2>
        <button class="btn btn-primary" onclick="TOGGLE('common.showclosed')"><i class="fa fa-eye mr-2"></i>Zobrazit/skrýt odehrané zápasy</button>
    </div>
    <div class="flex space-between px-4 mb-2">
        <div class="flex flex-column width_7 bg-tennis mx radius" data-bind="common.matches.tennis__template:{#match_tmpl}"></div>
        <div class="flex flex-column width_7 bg-pingpong mx radius" data-bind="common.matches.pingpong__template:{#match_tmpl}"></div>
        <div class="flex flex-column width_7 bg-football mx radius" data-bind="common.matches.football__template:{#match_tmpl}"></div>
        <div class="flex flex-column width_7 bg-voleyball mx radius" data-bind="common.matches.voleyball__template:{#match_tmpl}"></div>
        <div class="flex flex-column width_7 bg-basketball mx radius" data-bind="common.matches.basketball__template:{#match_tmpl}"></div>
        <div class="flex flex-column width_7 bg-handball mx radius" data-bind="common.matches.handball__template:{#match_tmpl}"></div>
        <div class="flex flex-column width_7 bg-netball mx radius" data-bind="common.matches.netball__template:{#match_tmpl}"></div>
    </div>
    <div class="flex space-between px-4 noscrollbar">
        <div class="flex flex-column width_7 bg-tennis mx radius" data-bind="common.matches.tennis__template:{#match_tmpl2}"></div>
        <div class="flex flex-column width_7 bg-pingpong mx radius" data-bind="common.matches.pingpong__template:{#match_tmpl2}"></div>
        <div class="flex flex-column width_7 bg-football mx radius" data-bind="common.matches.football__template:{#match_tmpl2}"></div>
        <div class="flex flex-column width_7 bg-voleyball mx radius" data-bind="common.matches.voleyball__template:{#match_tmpl2}"></div>
        <div class="flex flex-column width_7 bg-basketball mx radius" data-bind="common.matches.basketball__template:{#match_tmpl2}"></div>
        <div class="flex flex-column width_7 bg-handball mx radius" data-bind="common.matches.handball__template:{#match_tmpl2}"></div>
        <div class="flex flex-column width_7 bg-netball mx radius" data-bind="common.matches.netball__template:{#match_tmpl2}"></div>
    </div>
</div>

<!--<div class="floatingbox" data-id="matches_match" style="width:200px">
    <div class="padding">
        <div class="mb-2 b">Body:</div>
        <div class="flex align-center mb-2">
            <div class="w-14">Tým 1</div>
            <div data---="input__matchform.score[0]__type:number"></div>
        </div>
        <div class="flex align-center mb-2">
            <div class="w-14">Tým 2</div>
            <div data---="input__matchform.score[1]__type:number"></div>
        </div>
        <button class="btn btn-primary btn-small btn-block exec" data-exec="~PATH~/save">Uložit</button>
    </div>
</div>-->

<div class="floatingbox" data-id="matches_match" style="width:250px">
    <div class="px-4 py-2">
        <div class="mb-4 flex space-between"><span class="b" data-bind="matchform__text:console.log(value); 'Zápas: ' + value.match"></span><i class="fa fa-times pointer red" onclick="EXEC('~PATH~/closebox')"></i></div>
        <button class="btn btn-primary btn-small btn-block exec mb-2" data-bind="matchform__text:value&&'Vítěz '+Thelpers.player_names(value.team1)__.btn-primary:!value||!value.winner||value.winner===value.team1__.btn-secondary:value&&value.winner===value.team2" data-exec="~PATH~/winner_team1"></button>
        <button class="btn btn-primary btn-small btn-block exec mb-2" data-bind="matchform__text:value&&'Vítěz '+Thelpers.player_names(value.team2)__.btn-primary:!value||!value.winner||value.winner===value.team2__.btn-secondary:value&&value.winner===value.team1" data-exec="~PATH~/winner_team2"></button>
        <button class="btn btn-secondary btn-small btn-block exec mb-2" data-exec="~PATH~/startmatch" data-bind="matchform__hide:value => value&&(value.closed||value.active)">Zahájit zápas</button>
        <div data---="input__matchform.autostart__type:checkbox" data-bind="matchform.active__show" class="mb-2">Zahájit další zápas</div>
        <button class="btn btn-secondary btn-small btn-block exec mb-2" data-exec="~PATH~/stopmatch" data-bind="matchform__show:value => value&&value.active">Přerušit zápas</button>
    </div>
</div>

<template id="match_tmpl">
    <div class="b p-2 text-white flex space-between align-center">
        <div><i class="fa fa-{{ value[0].category | category_icon }} mr-2"></i>{{ value[0].category | category }}</div>
        <div><span>Zbývá:&nbsp;</span><span data-bind="common.matches.{{ value[0].category }}__text:value => value&&value.length&&value.filter(m => !m.closed).length"></span></div>
    </div>
    {{ foreach match in value}}
    {{ if match.active }}  
    <div class="p-2{{ if match.closed }} hidden{{ fi }}">
        <div class="shadow bg-primary-inverted text-black-inverted active-outline p-4 radius pointer exec" data-exec="matches/edit" data-category="{{ match.category }}" data-id="{{ match.id }}">
            <div class="flex space-between">
                {{ if match.active }}
                <div class="mb-2 b">Aktuální zápas: {{ match.match }}</div>
                {{ else }}
                <div class="mb-2 text-gray">Zápas číslo: {{ match.match }}</div>
                {{ fi }}
            </div>
            <div class="flex space-between">
                <div>{{ match.team1 | player_names }}</div>
                <div>{{ match.score[0] }}</div>
            </div>
            <div class="flex space-between">
                <div>{{ match.team2 | player_names }}</div>
                <div>{{ match.score[1] }}</div>
            </div>
        </div>
    </div>
    {{ fi }}
    {{ end }}
</template>

<template id="match_tmpl2">
    {{ foreach match in value}}
    {{ if !match.active }}  
    <div class="p-2{{ if match.closed }} hidden" data-bind="common.showclosed__show{{ fi }}">
        <div class="shadow bg-primary{{ if match.active }}-inverted text-black-inverted active-outline{{ fi }}{{ if match.closed }} bg-grey-light{{ fi }} p-4 radius pointer exec" data-exec="matches/edit" data-category="{{ match.category }}" data-id="{{ match.id }}">
            <div class="flex space-between">
                {{ if match.active }}
                <div class="mb-2 b">Aktuální zápas: {{ match.match }}</div>
                {{ else }}
                <div class="mb-2 text-gray">Zápas číslo: {{ match.match }}</div>
                {{ fi }}
            </div>
            <div class="flex space-between">
                <div>{{ match.team1 | player_names }}</div>
                <div>{{ match.score[0] }}</div>
            </div>
            <div class="flex space-between">
                <div>{{ match.team2 | player_names }}</div>
                <div>{{ match.score[1] }}</div>
            </div>
        </div>
    </div>
    {{ fi }}
    {{ end }}
</template>
<script>

    PLUGIN('matches', function(exports){
        exports.reload = function() {
            Object.keys(common.matches).forEach(c => {
                AJAX('GET /api/matches?category=' + c, 'common.matches.' + c);
            });
        };

        //exports.reload();

        exports.edit = function(el) {
            var matchid = el.attrd('id');
            var category = el.attrd('category');
            var match = common.matches[category].findItem(m => m.id === matchid);
            if (!match.team1)
                return;
            exports.match = match;
            SET('matchform', match);
            var opt = {};
            opt.element = el;
            opt.id = 'matches_match';
            //opt.align = 'right';
            SETTER('floatingbox/show', opt);
        };

        const nextmatch = (match) => {
            var id = +match.substring(5);
            return `match${++id}`;
        };

        exports.save = function() {
            var match = GET('matchform');
            var is = match.active;
            match.active = false;
            match.closed = true;
            AJAX('POST /api/matches', match, function(val, err, res){
                is && exports.start(match.category, nextmatch(match.id), () => exports.reload());
                !is && exports.reload();
                SETTER('floatingbox/hide');
            });
        };

        exports.start = function(category, id, callback) {
            var index = common.matches[category].findIndex(m => m.id === id);
            var match = common.matches[category][index];
            match.active = true;
            UPD(`common.matches.${category}[${index}]`);
            AJAX('POST /api/matches/', match, function(val, err, res){
                callback && callback();
            });
        };

        exports.startmatch = async function() {
            //var active = common.matches[matchform.category].filter(m => m.active);
            //if (active.length) {
            //    active = active[0];
            //    active.active = false;
            //    await AJAX('POST /api/matches/', active);
            //}
            //var active = (GET('common.matches.' + matchform.category) || []).findItem(match => match.active);
            //if (active)
                //return SETTER(true, 'notify/warning', 'Nejdříve ukončete aktuální zápas.');
            var match = GET('matchform');
            var team1 = Thelpers.player_names(match.team1);
            var team2 = Thelpers.player_names(match.team2);

            exports.check_is_free(match.team1, function(active = []) {
                if (active.length)
                    return SETTER(true, 'notify/warning', `Team ${team1} aktuálně hraje ${active[0]}`);

                exports.check_is_free(match.team2, function(active = []) {
                    if (active.length)
                        return SETTER(true, 'notify/warning', `Team ${team2} aktuálně hraje ${active[0]}`);

                    match.active = true;
                    SETTER('loading/show');
                    AJAX('POST /api/matches/', match, function(val, err, res){
                        exports.reload(true);
                        SETTER('floatingbox/hide', 'matches_match');
                        SETTER('loading/hide', 100);
                    });

                });
            });
        };

        exports.check_is_free = function(team, cb) {
            AJAX('GET /api/matches/isfree', { team }, function(val, err, res){
                cb(val);
            });
        };

        exports.stopmatch = async function() {
            var match = GET('matchform');
            match.active = false;
            SETTER('loading/show');
            AJAX('POST /api/matches/', match, function(val, err, res){
                exports.reload(true);
                SETTER('floatingbox/hide', 'matches_match');
                SETTER('loading/hide', 100);
            });
        };

        exports.winner_team1 = function() {
            var match = GET('matchform');
            match.winner = match.team1;
            match.active = false;
            match.score = [1, 0];
            match.closed = true;
            savematch(match);
        };

        exports.winner_team2 = function() {
            var match = GET('matchform');
            match.winner = match.team2;
            match.active = false;
            match.score = [0, 1];
            match.closed = true;
            savematch(match);
        };

        function savematch(match) {
            SETTER('loading/show');
            AJAX('POST /api/matches/', match, function(val, err, res){
                if (match.autostart)
                    exports.start(match.category, nextmatch(match.id), () => exports.reload(true));
                else
                    exports.reload(true);
                SETTER('floatingbox/hide', 'matches_match');
                SETTER('loading/hide', 100);
            });   
        };

        exports.closebox = function() {
            SETTER('floatingbox/hide', 'matches_match');
        };
        
    });

</script>